body {
  background-color: rgb(234, 234, 234);
  max-width: 100vw;
  overflow-x: hidden;
  margin: 0;
}

/* main page */

.backgroundImage {
  width: 100%;
  height: 80vh; /* Set the height to cover the entire viewport height */
  background-image: url("./images/main.jpg"); /* Add the path to your image */
  background-size: cover;
  background-position: 50% 25%; /* Center the background image */
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

  /* Add a semi-transparent overlay to darken the background */
  &:before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(
      0,
      0,
      0,
      0.4
    ); /* Adjust the alpha (last) value for darkness */
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 3.5%;
}

.logo {
  font-family: "Adobe Garamond Pro", sans-serif;
  font-size: 200%;
  margin-left: 4%;
}

.logo a {
  color: white;
  text-decoration: none;
}

.navbar {
  display: flex;
  gap: 20px;
  font-family: "Raleway", sans-serif;
  font-size: 130%;
  margin-left: 35%;
}

.navbar a {
  text-decoration: none;
  color: white;
}

.button {
  margin-left: auto;
  margin-right: 6%;
  background-color: white; /* Choose your desired button background color */
  padding: 10px 20px; /* Adjust padding to make the button larger */
  border-radius: 5px; /* Optional: Add rounded corners for a softer look */
}

.button a {
  color: black; /* Choose your desired button text color */
  text-decoration: none;
}

.mainPage h1 {
  font-family: "Adobe Garamond Pro", sans-serif;
  font-size: 400%;
  margin-top: 15%;
  margin-left: 10%;
  color: white;
}

.mainPage p {
  font-family: "Raleway", sans-serif;
  font-size: 150%;
  margin-top: 1%;
  margin-left: 10%;
  color: white;
}

/* History */

.aestheticImage img {
  width: 37%;
  top: 0;
  left: 0;
  position: relative;
  margin-top: 16%;
  margin-left: 60%;
  padding-bottom: 5%;
}

.smallExplanation {
  position: absolute;
  width: 30%;
  top: 100%;
  left: 10%;
}

.smallExplanation h1 {
  font-family: "Adobe Garamond Pro", sans-serif;
  font-size: 350%;
}

.smallExplanation p {
  font-family: "Raleway", sans-serif;
  font-size: 150%;
}

/* images */

.images {
  padding: 2% 0 0 0;
  background-color: white;
  width: 100vw;
  margin: 0;
  align-items: center;
}

.importantImages {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.importantImages img {
  width: 40%; /* Set the width of the images as per your requirement */
  margin: 2%; /* Set the margin between the images as per your requirement */
  padding: 0%;
}

/* location */

.location {
  padding: 0;
  width: 100vw;
  background-color: #bfc2b1;
}

.location h1 {
  font-family: "Adobe Garamond Pro", sans-serif;
  font-size: 400%;
  padding-top: 5%;
  margin-top: 0;
  margin-left: 10%;
}

.location p {
  font-family: "Raleway", sans-serif;
  max-width: 80%;
  font-size: 150%;
  margin-top: 1%;
  margin-left: 10%;
}

.location ul {
  font-family: "Raleway", sans-serif;
  font-size: 150%;
  margin-top: 3%;
  margin-bottom: 3%;
  margin-left: 15%;
}

.location ul li {
  padding: 1%;
}

.map {
  display: flex;
  justify-content: center;
  padding-bottom: 5%;
}

/* let´s chat */

.chat {
  background-color: white;
  display: flex;
}

.chat h1 {
  font-family: "Adobe Garamond Pro", sans-serif;
  font-size: 400%;
  padding-top: 5%;
  margin-top: 0;
  margin-left: 10%;
}

.chat p {
  font-family: "Raleway", sans-serif;
  font-size: 150%;
  margin-top: 1%;
  margin-left: 10%;
  max-width: 40%;
}

.chat a {
  font-family: "Raleway", sans-serif;
  font-size: 150%;
  margin-top: 1%;
  margin-left: 10%;
  display: flex;
  color: black;
}

.form {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  position: relative;
  margin-right: 5%;
}

.form-group {
  margin: 10% 0;
}

label {
  display: block;
  font-family: "Raleway", sans-serif;
  margin-bottom: 2%;
  font-size: 150%;
  color: black;
  font-weight: bold;
}

input,
textarea,
button {
  font-family: "Raleway", sans-serif;
  font-size: 150%;
}

input,
textarea {
  width: 100%;
  padding: 10px;
}

.name-inputs {
  display: flex;
  gap: 5%;
  width: 105%;
}

button {
  width: 100px;
  padding: 10px;
  border: none;
  background-color: #333;
  color: white;
  cursor: pointer;
}

/* contactos */
